<div id="<%= dom_id payment %>">
  <p>
    <strong>Paid:</strong>
    <%= payment.paid %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= payment.cart_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= payment.user_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= payment.address_id %>
  </p>

</div>
