<div id="<%= dom_id product %>">
	<p>
		<strong>Title:</strong>
		<%= product.title %>
	</p>
	<p>
		<strong>Quantity:</strong>
		<%= product.quantity %>
	</p>
	<p>
		<strong>Price:</strong>
		<%= product.price %>
	</p>
	<p>
		<strong>Category:</strong>
		<%= product.category_id %>
	</p>
</div>
